/* Set a limited height and enable scroll*/
.root {
  height: -webkit-fill-available;
  width: inherit;
  overflow: auto;

}

.root::-webkit-scrollbar {
  display: none;
}

.root {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Center Film Items */
.filmList > * {
  margin: 60px auto;
}

.header {
  text-align: center;
  padding-top: 60px;
}