.FilmItemListWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.FilmItemListWrapper > :nth-child(1) {
  background-color: purple;
}

.FilmItemListWrapper > :nth-child(2) {
  background-color: green;
}