.loadingIndicator {
  margin: 0 auto;
  position: absolute;
  top: 24px;
  left: 50%;
  margin-left: -20px;
  animation: slideIn 0.5s ease-in 1;
  animation-fill-mode: forwards
}

@keyframes slideIn {
  0% {
  }
  100% {
    top: 105px;

  }
}